{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="card mb-5">
    <div class="row">
        <div class="col-4">
            <p>{{name.firstname}}</p>
            <p>{{name.lastname}}</p>
        </div>
        <div class="col-8">
            <ul class="nav justify-content-end">

                <li class="nav-item mt-2">
                    <a href="{{href}}"></a>
                    {{text}}

                </li>

            </ul>

            <br>
            <h5>Cписок сторінок</h5>
            <p>Тут вам потрібно написати інформацію про ваш проєкт.
                Поки що можна написати будь-який текст</p>


            <button type="button" class="btn btn-primary">
                <a href="shoporder">Shoporder</a>
            </button>
            <br><br>
            <button type="button" class="btn btn-primary">
                <a href="bio">Bio</a>
            </button>
            <br><br>
            <button type="button" class="btn btn-primary">
                <a href="car">Car</a>
            </button>
            <br><br>




















            {{!--
            Цей код містить лише те, що буде виводитись в

            <body>
                Адже наш layout/default.hbs має вже структуру HTML
                --}}