{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<main>

    <div class="row">
        <div class="col-4">
        </div>

        <div class="col-8">
            <div class="nav justify-content-end">
            </div>
        </div>
    </div>
    </div>

    <h2>Список сторінок</h2>
    <p>Тут вам потрібно написати інформацію про ваш проєкт.
        <br>
        Поки що можна написати будь-який текст
    </p>
    <br>
    <a class="btn btn-primary" href="bio" role="button">Bio</a>
    <br><br>
    <a class="btn btn-primary" href="car" role="button">Car</a>
    <br><br>
    <a class="btn btn-primary" href="educations" role="button">Educations</a>
    <br><br>
    <a class="btn btn-primary" href="facebook" role="button">Facebook</a>
    <br><br>
    <a class="btn btn-primary" href="js" role="button">Js</a>
    <br><br>
    <a class="btn btn-primary" href="mac" role="button">Mac</a>
    <br><br>
    <a class="btn btn-primary" href="person" role="button">Person</a>
    <br><br>
    <a class="btn btn-primary" href="program" role="button">Program</a>
    <br><br>
    <a class="btn btn-primary" href="shopcart" role="button">Shopcart</a>
    <br><br>
    <a class="btn btn-primary" href="shopcatalog" role="button">Shopcatalog</a>
    <br><br>
    <a class="btn btn-primary" href="shophome" role="button">Shophome</a>
    <br><br>
    <a class="btn btn-primary" href="shopnews" role="button">Shopnews</a>
    <br><br>
    <a class="btn btn-primary" href="shoporder" role="button">Shoporder</a>
    <br><br>
    <a class="btn btn-primary" href="shopproduct" role="button">Shopproduct</a>
    <br><br>
    <a class="btn btn-primary" href="shopprofile" role="button">Shopprofile</a>
    <br><br>
    <a class="btn btn-primary" href="shopreview" role="button">Shopreview</a>
    <br><br>
    <a class="btn btn-primary" href="skills" role="button">Skills</a>
    <br><br>
    <a class="btn btn-primary" href="summary" role="button">Summary</a>
    <br><br>
    <a class="btn btn-primary" href="task21" role="button">Task21</a>
    <br><br>
    <a class="btn btn-primary" href="task22" role="button">Task22</a>
    <br><br>
    <a class="btn btn-primary" href="task31" role="button">Task31</a>
    <br><br>
    <a class="btn btn-primary" href="web" role="button">Web</a>
    <br><br>
    <a class="btn btn-primary" href="works" role="button">Works</a>
    <br><br>



</main>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}