{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<main>
    <div>
        <div class="card">
            <div class="row">
                <div class="col-12">

                    <div class="p-2 bg-success-subtle text-emphasis-success">
                        <h5 class="pt-5">LOGO</h5>
                        <section>
                            <ul class="nav justify-content-end">
                                <li class=" nav-item">
                                    <a class="nav-link active" aria-current="page" href="https://github.com/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.google.com/">Contacts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.youtube.com/">Help</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled">Logo</a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>







</main>





{{!-- Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs Адже наш layout/default.hbs
має
вже структуру HTML--}}