{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<main>

    {{#with navigator.links.[0]}}
    <div class="Home">
        <a href="https://github.com/" class="nav link">{{text}}</a>
    </div>
    {{/with}}
    <button type="button" class="btn btn-link">Home</button>
    <div class="Contact">
        <a href="https://www.google.com/" class="nav link">{{text}}</a>
    </div>
    <button type="button" class="btn btn-link">Contact</button>
    <div class="Help">
        <a href="https://www.youtube.com/" class="nav link">{{text}}</a>
    </div>
    <button type="button" class="btn btn-link">Help</button>
    <button type="button" class="btn btn-light">Lets start</button>
    <br>
    <hr>
    {{/with}}
    <div class="row">
        <div>

        </div>
    </div>

</main>
{{!-- Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs Адже наш layout/default.hbs має
вже структуру HTML--}}