* {
    font-family: Roboto, sans-serif;
}

span {
    font-size: larger;
}

.test {
    display: none;
}

.block {
    display: block;
    background: rgb(208, 208, 208);
    margin: auto;
    max-width: min-content;
    max-height: max-content;
}