<!DOCTYPE html>
<html>

<head>
</head>

<body>
	<header>
		<div class="mb-2">
			<p>{{name.firstname}}{{name.lastname}}</p>
			<p>Iryna Konopelko</p>
			< </div>

	</header>

	{{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу --}}
	{{{body}}}
</body>