<!DOCTYPE html>
<html>

<head>
</head>

<body>
	<header>
		<div class="mb-2">
			<h1>{{name.firstname}} {{name.lastname}}</h1>
			<p>Iryna Konopelko</p>
			<b>{{text}}</b>
			<p>Resume project</p>
		</div>


	</header>

	{{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу --}}
	{{{body}}}
</body>